* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    margin-bottom: 2em;
    background-color: #444;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
}

header .logo {
    height: 3em;
    padding: 1em;
}

header h1 {
    padding-top: .75em;
    color: white;
}

main {
    margin: .33em;
}

#messages {
    margin-bottom: 2em;
}

#language-select {
    margin-left: 3em;
}

.message {
    margin: 1em;
    padding: 1em;
    font-weight: 600;
    color: white;
    background-color: #157cea;
    box-shadow: 5px 7px 10px rgba(0,0,0,.3);
}

#input_bar {
    width: 100%;
    padding: 1em;
    background-color: #444;
}

#input_bar input {
    width: 98%;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: inherit;
    outline: none;
}
